@use "./variables";

.weather-app__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weather-app__place-name {
  color: variables.$text-color;
  font-size: 2rem;
  margin: 10px;
}

.weather-app__place-temperature {
  color: variables.$text-color;
  font-size: 3.5rem;
  font-weight: 300;
  margin: 10px;
  text-shadow: variables.$text-shadow;
}

.weather-app__place-condition {
  color: variables.$text-color;
  font-size: 1rem;
  margin: 5px;
}

.weather-app__place-max-min-temperature {
  color: variables.$text-color;
  font-size: 1rem;
}
