.city_name {
  font-size: 1.5rem;
  font-weight: bold;
}

.city_country {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.city_condition {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.city_temperature {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
}
