@use "/src/styles/variables";

.forecast-days {
  background-color: variables.$background-color;
  padding: 1rem;
  margin-top: 20px;
  border-radius: variables.$border-radius;
  border: 1px solid black;
  box-shadow: variables.$box-shadow;
}

.forecast-days__title {
  color: variables.$text-color;
  border-bottom: variables.$border-bottom;
  padding: 10px;
}

.forecast-days__item {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: variables.$border-bottom;
  padding: 10px;
  flex-wrap: nowrap;

  &:last-child {
    padding: 0;
    border: none;
  }

  p.forecast-days__label-day {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    width: 2rem;
  }

  .forecast-days__icon {
    width: 2.5rem;
  }

  .forecast-days__max_temp,
  .forecast-days__min_temp,
  .forecast-days__wind {
    white-space: nowrap;
  }
}
