@use "/src/styles/variables";

.forecast-days {
  background-color: variables.$background-color;
  padding: 1rem;
  margin-top: 20px;
  border-radius: variables.$border-radius;
  border: 1px solid black;
}

.forecast-days__title {
  color: variables.$text-color;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px;
}

.forecast-days__item {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px;

  p.forecast-days__label-day {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: auto;
  }
}
