@use "/src/styles/variables";

.forecast-days {
  background-color: variables.$background-color;
  padding: 1rem;
  margin-top: 1rem;
  border: 1px solid white;
  border-radius: variables.$border-radius;
}

.forecast-days__title {
  background-color: variables.$background-color;
  color: #000;
  margin-top: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1rem;
}

.forecast-days__heute {
  background-color: variables.$background-color;
  color: #fff;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.forecast-days__morgen {
  background-color: variables.$background-color;
  color: #fff;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.forecast-days__übermorgen {
  background-color: variables.$background-color;
  color: #fff;
  padding: 10px;
}
