@use "variables";

.main-menu {
  padding: 10px;
  width: 380px;
  height: 600px;
}

.main-menu__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.main-menu__title {
  font-size: 3.2rem;
  color: variables.$text-color;
  color: black;
}

.main-menu__btn-edit {
  font-size: 1.2rem;
  font-weight: bold;
  color: variables.$text-color;
  border: none;
  border-radius: 5px;
  background-color: variables.$background-color;
}

.main-menu__search {
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  border-radius: variables.$border-radius;

  input {
    padding: 10px;
    width: 100%;
    border: 1px solid blue;
    border-radius: variables.$border-radius;
    font-size: 1.2rem;

    &::placeholder {
      color: grey;
      font-size: 1.2rem;
    }
  }
}

.main-menu__search-results {
  border: 1px solid blue;
  border-radius: variables.$border-radius;
  margin-top: 1rem;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.city_column_left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city_column_right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
