@use "variables";

.glass-background {
  backdrop-filter: blur(10px);
  background: rgba (255, 255, 255, 0.2);
  border: 1px solid white;
  border-radius: variables.$border-radius;
  padding: 20px;
}

.mini-stats {
  //background-color: variables.$background-color;
  border-radius: variables.$border-radius;
  margin-top: 20px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
  box-shadow: variables.$box-shadow;
}

.mini-stats__heading {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: variables.$border-radius;
  margin-top: 1rem;
  font-size: 1rem;
}

.mini-stats__value {
  margin-top: 1rem;
  font-size: 1.5rem;
}
