@use "variables";

.mini-stats {
  border-radius: variables.$border-radius;
  background-color: variables.$background-color;
  width: 300px;
  height: 300px;
  margin-top: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  .mini-stats__avghumidity {
    border: 1px solid blue;
    border-radius: variables.$border-radius;
    padding: 10px;
    margin: 10px;
    align-items: center;
  }
  .mini-stats__feelslike {
    border: 1px solid blue;
    border-radius: variables.$border-radius;
    padding: 10px;
    margin: 10px;
    align-items: center;
  }
  .mini-stats__moonset {
    border: 1px solid blue;
    border-radius: variables.$border-radius;
    padding: 10px;
    margin: 10px;
    align-items: center;
  }
  .mini-stats__sunset {
    border: 1px solid blue;
    border-radius: variables.$border-radius;
    padding: 10px;
    margin: 10px;
    align-items: center;
  }
  .mini-stats__precipitation {
    border: 1px solid blue;
    border-radius: variables.$border-radius;
    padding: 10px;
    margin: 10px;
    align-items: center;
  }
  .mini-stats__uv {
    border: 1px solid blue;
    border-radius: variables.$border-radius;
    padding: 10px;
    margin: 10px;
    align-items: center;
  }
}
