@use "/src/styles/variables";
@use "/src/styles/mixins";
@use "/src/styles/loadingSpinner";
@use "/src/styles/mini-stats.scss";
@use "/src/styles/today-forecast";
@use "/src/styles/forecast-days";
@use "/src/styles/detailView";
@use "/src/styles/main-menu";

@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double+Ink:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  @include mixins.largeScreens {
    background: linear-gradient(
      0deg,
      variables.$elevation2 0%,
      variables.$background-color 50%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
}

#weather-app {
  background: linear-gradient(
    0deg,
    variables.$elevation2 0%,
    variables.$background-color 50%
  );
  color: variables.$text-color;
  border: 1px solid white;
  padding: 1rem;
  min-height: 100vh;
  font-family: "Inter", sans-serif;

  @include mixins.largeScreens {
    width: 400px;
    height: 800px;
    min-height: unset;
    overflow: auto;
    border-radius: variables.$border-radius;
    box-shadow: variables.$box-shadow;
  }

  &.show-background {
    background:
      linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      var(--detail-condition-image);
    background-size: cover;
    background-position: center;
  }
}

.weather-app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
