@use "./variables";
@use "./mixins";
@use "./detailView";
@use "./loadingSpinner";

@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double+Ink:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  @include mixins.largeScreens {
    background-color: linear-gradient(
      0deg,
      variables.$elevation2 0%,
      variables.$background-color 50%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
}

#weather-app {
  background-color: variables.$background-color;
  padding: 1rem;
  min-height: 100vh;
  font-family: "Inter", sans-serif;

  @include mixins.largeScreens {
    width: 400px;
    height: 900px;
    min-height: unset;
    overflow: auto;
    border-radius: variables.$border-radius;
    box-shadow: variables.$box-shadow;
  }
}

.weather-app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

#weather-app__return-btn {
  padding: 10px;
  border: none;
  border-radius: variables.$border-radius;
  background-color: variables.$background-color;
  font-size: 2rem;
  cursor: pointer;
}

#weather-app__favorite-btn {
  padding: 10px;
  border: none;
  border-radius: variables.$border-radius;
  background-color: variables.$background-color;
  font-size: 2rem;
  cursor: pointer;
}
