@use "/src/styles/variables";

.glass-background {
  backdrop-filter: blur(10px);
  background: rgba (255, 255, 255, 0.2);
}

.today-forecast__condition {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 10px;
  border-bottom: variables.$border-bottom;
  border-radius: variables.$border-radius;
  box-shadow: variables.$box-shadow;
}

.today-forecast__hour {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-y: auto;
  scrollbar-width: none;
  scrollbar-color: transparent;
  padding: 30px;
  border-radius: variables.$border-radius;
  box-shadow: variables.$box-shadow;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: variables.$border-radius;
  }

  &__hour {
    display: flex;
    flex-direction: column;
    //align-items: center;
    justify-content: center;
  }

  &__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__temp {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
